@font-face {
  font-family: "quest";
  src: url("fonts/Last King Quest.ttf") format("truetype");
}

@font-face {
  font-family: "typography times";
  src: url("fonts/Typography Times Regular.ttf") format("truetype");
}

@font-face {
  font-family: "typography times";
  src: url("fonts/Typography Times Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "typography times";
  src: url("fonts/Typography Times Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "typography times";
  src: url("fonts/Typography Times Bold Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

html {
	background-image: url('compass.png'), url('background.png');
	background-repeat: no-repeat, repeat;
	background-position: left center, top left;
	background-size: 40em, 40em;
	font-family: 'typography times', times;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

.content-container {
}

header {
	text-align: center;
	padding: .5em 0;
	font-size: 3em;
	border-bottom: solid 1px;
	font-family: 'quest', cursive;
	-webkit-box-shadow: 0 5px 20px 0 #000000;
	box-shadow: 0 5px 20px 0 #000000;
}

